<body class="WholeBody">
  <button id="satisfaction" (click)="scrolltosatisfaction();">Satisfaction</button>
  <button id="reviews" (click)="scrolltoreviews();">Reviews</button>
  <button id="facts" (click)="scrolltofacts();">Fast Facts</button>
  <button id="about" (click)="scrolltoabout();">About Us</button>
  <div id="Header">
    C P New
  </div>
  <img id="MainImage" src="http://sites.jmu.edu/103oconnor-16/files/2013/04/motherboard.jpg">
  
  <div id="BusinessInfo">
    <div class="SectionHeader">
      About Us!
    </div>
    <br>
    C P New is a business in which individuals are able to purchase new computers or have their old ones fixed. If a user would like to purchase a new computer, they can request one based on their performance needs. They will simply need to list the programs they would like to be able to run, and a cost effective and powerful computer will be built for them within 5 business days.

    Do you have a computer that is not functioning the way it should anymore? Do you want a new computer built exactly to fit your needs but do not know how to build one yourself? C P New is the place for you!
  </div>
  <div id="OurFeatures">
    <div class="SectionHeader">
      Our Fast Facts!
    </div>
    <br>
    <ul>
      <li>We can build any computer based on your needs</li>
      <li>We can repair or upgrade any computer that is not meeting your standards</li>
      <li>The cost to the customer is what we pay for the components plus an extra 15% for labor</li>
    </ul>
  </div>
  <img id="computerparts" src="https://images.anandtech.com/doci/9474/CorsairParts.jpg">
  <div id="CustomerFeedback">
    <div class="SectionHeader">
      Hear from our customers!
    </div>
    <br>
   "Not only have they fixed my computer issues, they have done so with outstanding customer service and fair pricing. I would absolutely recommend them to anyone with a computer issue or would like to purchase a new one - they are honest, friendly, and capable." - <b class="Name">Ethan Keller</b>
   <br>
   <br>
   "They made my five year old computer run like new. I highly recommend C P New for anyone!" - <b class="Name">Marvin Green</b>
  </div>
  <img id="computerimage" src="https://i.pinimg.com/originals/71/7b/45/717b457dd56e1110c55f6d80815e8c25.jpg">
  <div id="Satisfaction">
    <div class="SectionHeader">
      Your satisfaction guaranteed!
    </div>
    <br>
  If you are not fully satisfied with your result, we will keep working on it until it fully meets your needs for no extra cost. 
  </div>
</body>